body {
    font-family:"source sans pro";
    line-height: 1.5;
}
#sec_1 {
    color:white;
    background-image: url(./images/headphones_hero_1.jpg);
    background-repeat:no-repeat ;
    background-size:1600px;
    text-align: center;
    margin-inline: auto;
    max-width:auto;
    

}
.logo {
    padding: 30px;
}
a { 
    color:white;
    transition: color 0.3s ease;
    text-decoration-line: none;
    margin-right: 30px;
    margin-bottom: 30px;
    font-family: "source sans pro";
}
a:hover {
    color: #FF6565;
}
#nav { 
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-self: end;
    justify-content: space-around;
}


#nav_log {
    margin: 0px 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-size: 30px;
    font-weight:bolder;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    transition: color 0.3s ease-in-out;
    color:rgb(133, 132, 132);
}
h1::after{
    background: red;
    border-radius: 100px;
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px; 
    transition: 0.65s; 
    
}
h1:hover {
    color:rgb(255, 255, 255);
}
.h_p_b p {
    
    transform: translateY(-15px);
}
.all_button {
    background-color: #FF6565;
    border-radius: 30px;
    font-size: 13px;
    color: white;
    margin: 20px;
    border: none;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-self: center;
    
}
.all_button:hover {
opacity: 0.9;
}
.h_p_b div{
   width: 900px;
   font-size: 20px;
   display: flex;
   justify-self: center;
   align-self: center;
   margin-top: 70px;
   text-align: center;
}
.sec_wightBackground {
    margin-top: 125px;
    margin-bottom: 100px;
}
h2 {
    text-align: center;
    font-size: 40px;
}
.singl_icone {
    width: 250px;
    text-align: center;
}
#all_icone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#sec_3 {
    background-image: url(./images/headphones_hero_2.jpg);
    color:white;
    background-size:1900px;
    margin-inline: auto;
    max-width:auto;
}
#sec_3 p {
    text-align: center;
    width: 900px;
    display: flex;
    justify-self: center;
    font-size: 20px;
}
#sec_3 h2 {
    padding-top:100px ;
    padding-bottom: 25px;
}
span { 
    font-size: 40px;
    font-weight:bolder;
}
.pentagone {
    width: 262px;
    height: 244px;
    background: url(./images/pentagone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#all_pentagone {
    display: flex;
    flex-wrap: wrap;
    justify-self: center; 
    justify-content: space-around;
    gap:10px;
}
input {
    border: 0px;
    text-decoration: underline;
    border-bottom: 1px solid rgb(125, 124, 124);
}
form {
    margin: 70px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
@media (min-width: 600px) and (max-width: 1280px) {
    
    
    .h_p_b div {
        width: 600px;
        font-size: 16px;
        display: flex;
        justify-self: center;
    }
    #sec_3 p {
        width: 600px;
        font-size: 16px;
        display: flex;
        justify-self: center;
    }
    #sec_3 {
        margin-inline: auto;
        background-size:1900px;
        max-width:auto;
    
    }
}
@media (max-width: 580px) {
    .h_p_b div{ 
        width:400px;
        font-size: 16px;
        display: flex;
        justify-self: center;
    }
    #sec_3 p {
        width: 400px;
        font-size: 16px;
        display: flex;
        justify-self: center;
    }
    #sec_3 {
        margin-inline: auto;
        background-size:4000px;
        max-width:auto;
    }
   a{
    display:block;
    margin-top:10px ;
    
   }
   img {
    width: 250px;
   }

}